<h1>Welcome!</h1>


<!-- Event Binding -->
<div class="play-container">
    <p>You have clicked <button (click)="countClick()">This</button> {{ clickCounter }} times.</p>
</div>


<!-- Two way data binding -->
<div class="play-container">
    <input type="text" [(ngModel)]="name">
    <br>
    <strong>You said:</strong> {{ name }}
</div>


<!-- ng Template and style binding for one property-->
<!-- <div class="play-container" [style.background-color]="clickCounter > 4 ? 'yellow': 'lightgrey'">
    <ng-template [ngIf]="clickCounter > 4" [ngIfElse]="none">
        <p>The counter is <strong>GREATER</strong> than 4.</p>
    </ng-template>
    <ng-template #none>
        <p>The counter is  <strong>NOT GREATER</strong> than 4.</p>
    </ng-template>
</div> -->


<!-- style binding multiple properties -->
<div class="play-container" [ngStyle]="{
    'background-color': clickCounter > 4 ? 'yellow' : 'lightgrey',
    'border' : clickCounter > 4 ? '4px solid black' : 'none'
}">
    <ng-template [ngIf]="clickCounter > 4" [ngIfElse]="none">
        <p>The counter is <strong>GREATER</strong> than 4.</p>
    </ng-template>
    <ng-template #none>
        <p>The counter is  <strong>NOT GREATER</strong> than 4.</p>
    </ng-template>
</div>


